@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pannelBtn {
    @apply mx-6 py-2  uppercase text-xs tracking-widest transition-all text-[#8892b0];
  }
  .technologies {
    @apply flex gap-3 justify-center items-center;
  }

  .projectsBtn {
    @apply border border-[#64ffda] w-20 h-10 hover:bg-[#64ffda3d] text-[#64ffda] rounded;
  }
  .socialicon:hover {
    @apply animate-spin fill-[#64FFF7];
  }

  .contactInput {
    @apply outline-none bg-[#a8b2d1]/30 rounded-sm border-b border-[#8892b0] px-6 py-4 text-[#e6f1ff] placeholder-[#8892b0] transition-all focus:border-[#64ffda]/80 focus:text-[#64ffda]/80 hover:border-[#64ffda]/80;
  }

  .greenText {
    @apply text-[#64ffda];
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#8892b0, #8892b0);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline-black {
    color: #8892b0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#64ffda, #64ffda);
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
    color: #ccd6f6;
  }
}
