@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pannel-btn {
    @apply mx-6 py-2  uppercase text-xs tracking-widest transition-all text-[#8892b0];
  }
  .technologies {
    @apply flex gap-3 justify-center items-center;
  }

  .projects-btn {
    @apply border  border-[#64ffda] w-20 h-10 hover:bg-[#64ffda3d] text-[#64ffda] rounded;
  }

  .links-btn {
    @apply w-10 h-10 hover:bg-[#64ffda3d] text-[#64ffda] rounded-full;
  }

  .socialicon:hover {
    @apply transition-all fill-[#64FFF7];
  }

  .contact-input {
    @apply outline-none bg-[#a8b2d1]/30 rounded-sm border-b border-[#8892b0] px-6 py-4 text-[#e6f1ff] placeholder-[#8892b0] transition-all focus:border-[#64ffda]/80 focus:text-[#64ffda]/80 hover:border-[#64ffda]/80 p-3 md:text-xl w-full;
  }

  .green-text {
    @apply text-[#64ffda];
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#8892b0, #8892b0);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline-black {
    color: #8892b0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#64ffda, #64ffda);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
    color: #ccd6f6;
  }

  .arrow {
    top: calc(50% - 20px);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    fill: #e6f1ff;
  }

  @media only screen and (max-width: 768px) {
    .arrow {
      width: 50px;
      height: 50px;
    }
  }
}

.get-in-touch-container:hover .get-in-touch-icon {
  fill: #64fff7;
  transition: width 2s, height 4s;
}
.get-in-touch-container:hover .get-in-touch-text {
  color: #64fff7;
  transition: width 2s, height 4s;
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
